.custom-task-2 {
    width: 100%;
    padding: 10%;
    height: 100vh;
    background: rgb(255,211,219);
    background: linear-gradient(75deg, rgba(255,211,219,1) 0%, rgba(255,255,255,1) 50%, rgba(255,211,219,1) 100%);
}

.custom-task-2-info-container {
    text-align: center;
}

.custom-task-2-info-container > ul {
    text-align: start;
}

.custom-task-2-info-container li {
    cursor: pointer;
    transition: opacity 0.7s;
}
.custom-task-2-info-container li:hover {
    opacity: 0.7;
}

.custom-task-2-info-column {
    border: 1px solid #A5A5A5;
    padding: 2% 0;
}

.custom-task-2-h3 {
    border-bottom: 1px solid #A5A5A5;
    padding-bottom: 2%;
}

.custom-task-2-buttons-container {
    justify-content: space-around;
}