.custom-button-spinner {
    /*color: var(--white-smoke);*/
    color: inherit;
    margin-right: 5px;
    transition: var(--button-colors-transition);
}
/*.custom-button-spinner:hover {*/
/*    color: var(--light-red);*/
/*}*/