.custom-login-component {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    border: 1px solid lightgray;
    border-radius: 6px;
    width: 50%;
    margin: 5% auto;
    padding: 5%;
    background: rgb(255,211,219);
    background: linear-gradient(75deg, rgba(255,211,219,1) 0%, rgba(255,255,255,1) 50%, rgba(255,211,219,1) 100%);
}

.custom-login-component-form {
    /*height: 100%;*/
    /*justify-content: space-evenly;*/
    row-gap: 30px;
}

.custom-login-component-via-method {
    cursor: pointer;
    transition: color 0.5s;
}
@media (hover: hover) {
    .custom-login-component-via-method:hover {
        color: red;
    }
}

.custom-login-component-via-method.selected {
    color: red;
}

.custom-login-component-floating-label label {
    transition: color 0.5s;
}

.custom-login-component-floating-label.danger label {
    color: red;
}