.custom-homepage {
    background: rgb(255,211,219);
    background: linear-gradient(75deg, rgba(255,211,219,1) 0%, rgba(255,255,255,1) 50%, rgba(255,211,219,1) 100%);
}

.custom-homepage-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 5% 0;*/
    margin-bottom: 5%;
    padding-top: 5%;
}

.custom-homepage-image-container > img {
    width: 30%;
}

.custom-homepage-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.custom-homepage-buttons-container {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    width: 100%;
    margin-bottom: 10vh;
}

.custom-homepage-buttons-container > .btn {
    width: 20%;
}