/*.custom-phone-input {*/
/*  margin-top: 1em;*/
/*}*/

.custom-phone-input.danger .special-label {
  color: #FC0E1E;
}

.special-label {
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5em;
  /*color: var(--primary-text-clr);*/
  text-transform: capitalize;
}

.custom-phone-input.with-label .react-tel-input .form-control {
  /*margin-top: 10px;*/
  /*padding: 0.7em 1.375em;*/
  /*background: #ffffff;*/
  /*border-radius: 4px;*/

  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  line-height: 1.25;
  padding: 1rem 0.75rem;
}
.custom-phone-input.with-label .react-tel-input .form-control:focus,
.custom-phone-input:has(.custom-phone-input-floating-label.top) .form-control {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

.custom-phone-input .react-tel-input .form-control.danger {
  border-color: red;
}

.custom-phone-input .react-tel-input .form-control::placeholder {
  font-size: 0.875rem;
  line-height: 1.15em;
  text-transform: capitalize;
}

.custom-phone-input-floating-label.top label, .custom-phone-input-floating-label:has(.form-control:focus) label {
  color: rgba(var(--bs-body-color-rgb),.65);
  transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.custom-phone-input-floating-label.danger label {
  color: var(--light-red);
}
