.App {
    font-family: serif;
    font-size: 1.1rem;
}

.btn {
    color: #F5F5F5 !important;
    background-color: #1B364B !important;
    border-color: #1B364B !important;
    transition: color 0.7s, background-color 0.7s;
}
.btn:hover {
    color: #1B364B !important;
    background-color: #F5F5F5 !important;
}